In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
overall_data_df = pd.DataFrame(school_data_complete)
#school_data_df = pd.DataFrame(school_data)
#student_data_df = pd.DataFrame(student_data)

<h1> District Summary </h1>

In [3]:
# Calculate total number of schools and students
total_schools = overall_data_df['school_name'].nunique()
total_students = overall_data_df['student_name'].count()

In [4]:
# Calculate budget total
total_budget = sum(overall_data_df['budget'].unique())

In [5]:
# Format to currency
total_budget = "${0:,.2f}".format(total_budget)
print(total_budget)

$24,649,428.00

In [6]:
# Calc average math and reading score
avg_math = round(overall_data_df['math_score'].mean(), 2)
avg_read = round(overall_data_df['reading_score'].mean(), 2)

In [7]:
# Calc average passing score for math and reading (looking for values at or higher than 70)
math_pass = round(((overall_data_df['math_score'] >= 70).mean())*100, 2)
read_pass = round(((overall_data_df['reading_score'] >= 70).mean())*100, 2)

In [8]:
# Combinning both math and reading data into one column to also calucate passing rate
overall_pass = overall_data_df[(overall_data_df['math_score'] >= 70) & (overall_data_df['reading_score'] >= 70)]

In [9]:
overall_passV2 = round((overall_pass.student_name.count()/total_students)*100, 2)

In [10]:
# Gather raw data to create new data frame
summary_raw_data = {
    'Total School': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [avg_math],
    'Average Reading Score': [avg_read],
    '% Passing Math': [math_pass],
    '% Passing Reading': [read_pass],
    '% Overall Passing': [overall_passV2]
}

In [11]:
District_Summary_df = pd.DataFrame(summary_raw_data)
District_Summary_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

<h1> School Summary </h>

In [12]:
# Making a copy of OG df to add extra columns (dont want to mess with the OG data)
overall_data_plus_avg_df = overall_data_df
overall_data_plus_avg_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [13]:
# Creating new colums with passing scores for math, reading, and both math & reading
overall_data_plus_avg_df['%_passing_math'] = (overall_data_plus_avg_df.math_score >= 70)
overall_data_plus_avg_df['%_passing_reading'] = (overall_data_plus_avg_df.reading_score >= 70)
overall_data_plus_avg_df['%_Overall_Passing'] = ((overall_data_plus_avg_df.math_score >= 70) & (overall_data_plus_avg_df.reading_score >= 70))
overall_data_plus_avg_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,%_passing_math,%_passing_reading,%_Overall_Passing
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True

In [14]:
# Average for math and reading
# Note:Total budget and total students will not be the average because their data input was consistant (i.e. the avg of a repeated value, is the same value)
school_df = overall_data_plus_avg_df.groupby(['school_name', 'type']).mean().reset_index()
school_df.head()

,school_name,type,Student ID,reading_score,math_score,School ID,size,budget,%_passing_math,%_passing_reading,%_Overall_Passing
0,Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.666801,0.819333,0.546423
1,Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.941335,0.970398,0.913348
2,Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.659885,0.807392,0.532045
3,Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.683096,0.792990,0.542899
4,Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.933924,0.971390,0.905995

In [15]:
# identifying columns to select the ones of interest
list(school_df.columns)

['school_name',
 'type',
 'Student ID',
 'reading_score',
 'math_score',
 'School ID',
 'size',
 'budget',
 '%_passing_math',
 '%_passing_reading',
 '%_Overall_Passing']

In [16]:
# Selecting columns of interest
school_df = school_df.loc[:,['school_name', 'type', 'size', 'budget', 'math_score', 'reading_score', '%_passing_math', '%_passing_reading', '%_Overall_Passing']]
school_df.head()

,school_name,type,size,budget,math_score,reading_score,%_passing_math,%_passing_reading,%_Overall_Passing
0,Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,0.666801,0.819333,0.546423
1,Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,0.941335,0.970398,0.913348
2,Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,0.659885,0.807392,0.532045
3,Ford High School,District,2739.0,1763916.0,77.102592,80.746258,0.683096,0.792990,0.542899
4,Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,0.933924,0.971390,0.905995

In [17]:
# Create per student budget column and insert as the 5th column
school_df.insert(4, "per_student_budget", (school_df['budget']/school_df['size']), True)

In [18]:
# Check df
school_df.head()

,school_name,type,size,budget,per_student_budget,math_score,reading_score,%_passing_math,%_passing_reading,%_Overall_Passing
0,Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
1,Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
2,Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
3,Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
4,Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995

In [19]:
# Format columns with for currency and percent

# create function to convert columns to currentcy 
def format_curr(x):
    return "${0:,.2f}".format(x)

# apply function on two columns
school_df['budget'] = school_df['budget'].apply(format_curr)
school_df['per_student_budget'] = school_df['per_student_budget'].apply(format_curr)

# Multiply by 100 and round to two sigfigs for % columns
school_df['%_passing_math'] = round(school_df['%_passing_math'] * 100, 2)
school_df['%_passing_reading'] = round(school_df['%_passing_reading'] * 100, 2)
school_df['%_Overall_Passing'] = round(school_df['%_Overall_Passing'] * 100, 2)

# Rouond to two sigfigs for math and reading scores
school_df['math_score'] = round(school_df['math_score'], 2)
school_df['reading_score'] = round(school_df['reading_score'] , 2)
school_df.head()

,school_name,type,size,budget,per_student_budget,math_score,reading_score,%_passing_math,%_passing_reading,%_Overall_Passing
0,Bailey High School,District,4976.0,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
1,Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
2,Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
3,Ford High School,District,2739.0,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
4,Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60

In [47]:
# Rename Columns
school_df= school_df.rename(columns = {"school_name":"School Name", "type":"School Type", "size":"Total Students","budget":"Total School Budget","per_student_budget":"Per Student Budget","math_score":"Average Math Score", "reading_score":"Average Reading score", "%_passing_math":"% Passing Math", "%_passing_reading":"% Passing Reading", "%_Overall_Passing":"% Overall Passing"})
school_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976.0,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
1,Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
2,Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
3,Ford High School,District,2739.0,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
4,Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
5,Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
6,Holden High School,Charter,427.0,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
7,Huang High School,District,2917.0,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
8,Johnson High School,District,4761.0,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
9,Pena High School,Charter,962.0,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
10,Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
11,Shelton High School,Charter,1761.0,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
12,Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
13,Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
14,Wright High School,Charter,1800.0,"$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,90.33

<h1> Top Performing Schools (By % Overall Passing) </h1>

In [73]:
# Sort overall passin scores in descending order
desc_school_df = school_df.sort_values(by=['% Overall Passing'], ascending = False)

In [74]:
# slice the top 5 and reset the index
desc_school_df = asc_school_df.iloc[ 0:5, :].reset_index(drop = True)
desc_school_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading score,% Passing Math,% Passing Reading,% Overall Passing
0,Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
1,Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
2,Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
3,Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
4,Pena High School,Charter,962.0,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

<h1> Bottom Performoing School (By % Overall Passing) </h1>

In [75]:
# Sort overall passin scores in asceding order
asc_school_df = school_df.sort_values(by=['% Overall Passing'], ascending = True)

In [76]:
# Slice the top 5 and reset the index
desc_school_df = asc_school_df.iloc[ 0:5, :].reset_index(drop = True)
desc_school_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading score,% Passing Math,% Passing Reading,% Overall Passing
0,Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
1,Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
2,Huang High School,District,2917.0,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
3,Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
4,Johnson High School,District,4761.0,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54